<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/css/perfilEmpreiteira.css" />
  <title>PERFIL</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <!--OBS: as fotos e informações usadas nessa página servem somente para exemplificação. Posteriormente, isso será feito automaticamente pelo banco de dados-->

  <!--definindo parte superior da página maior do candidato-->
  <section class="sessao-perfil-usuario">
    <div class="perfil-usuario-header">
      <div class="perfil-usuario-portada">
        <div class="perfil-usuario-avatar">
          <!--parte onde a foto da empreeiteira vai ficar-->
          <img src="/public/img/empreiteiroExemplo.jpg" img-avatar">
          <button type="button" class="boton-avatar">
            <i class="icon-image"></i>
          </button>
        </div>
      </div>
    </div>
    <!--corpo principal do perfil, com sua bio e nome-->
    <div class="perfil-usuario-body">
      <div class="perfil-usuario-bio">
        <h3 class="titulo" id="titulo"></h3>
        <p class="texto">
          Nós da Guerra somos profissionais em realizar o seu sonho. Estamos
          localizados na cidade de São Paulo - SP e contamos com mais de 50
          obras realizadas no estado.
        </p>
      </div>


      <!--parte inferior com seus principais serviços listados-->
      <div class="perfil-usuario-footer">
        <ul class="lista-datos">
          <li>
            <i class="icon-imagen"><strong>Serviços</strong></i>
          </li>
          <li><input type="text" class="editarAll" id="servi0" disabled="true"></li>
        </ul>
        <!--parte inferior com informações principais da empreiteira-->
        <ul class="lista-datos">
          <li>
            <i class="icon-imagen"><strong>Seu Email</strong></i>
          </li>
          <li><input placeholder="Email" type="text" class="editarAll" id="email" disabled="true"></li>

        </ul>
        <ul class="lista-datos">
          <li>
            <i class="icon-imagen"><strong>Informações gerais</strong></i>
          </li>
          <li><input placeholder="Localidade" type="text" class="editarAll" id="localidade" disabled="true"></li>
          <li><input placeholder="CNPJ" type="text" class="editarAll" id="printarCnpj" disabled="true"></li>


        </ul>
        <ul class="lista-datos">
          <li>
            <i class="icon-imagen"><strong>Contabilidade</strong></i>
          </li>
          <li><input placeholder="Representante" type="text" class="editarAll" id="representante" disabled="true"></li>
          <li><input placeholder="Email" type="text" class="editarAll" id="emailR" disabled="true"></li>
        </ul>
        <button class="update" id="atualizar0" onclick="toggle();">Editar </button>
        <button id="enviar10">Enviar</button>

      </div>
      <!--parte para inserção das redes sociais, será implementada posteriormente -->
      <div class="redes-sociais">
        <a href="#" class="boton-redes facebook">
          <i class="icon-facebook"></i>
        </a>
        <a href="#" class="boton-redes whatsapp">
          <i class="icon-whatsapp"></i>
        </a>
        <a href="#" class="boton-redes instagram">
          <i class="icon-instagram"></i>
        </a>
      </div>
    </div>
  </section>

  <script>

    const toggle = () => {
      let input0 = document.getElementById("email");
      let input1 = document.getElementById("localidade");
      let input2 = document.getElementById("printarCnpj");
      let input3 = document.getElementById("servi0");
      let input4 = document.getElementById("representante");
      let input5 = document.getElementById("emailR");
      input0.disabled = !input0.disabled
      input1.disabled = !input1.disabled
      input2.disabled = !input2.disabled
      input3.disabled = !input3.disabled
      input4.disabled = !input4.disabled
      input5.disabled = !input5.disabled

      console.log()
    }

  





    // let user = document.cookie.split(';')[0].trim().split("user=")[1];
    // let password = document.cookie.split(';')[1].trim().split("password=")[1]


    let user = {}

    let id = 34;

    // const checkUserLoggedIn = async () => {
    //   await fetch(`http://localhost:3001/selectEmpreiteiro?id_empreiteiro=${id}`)
    //     .then( (res) => { user = res.data } )
    //     .catch( () => { window.route = "/login" } )
    // }

    // checkUserLoggedIn()

    fetch(`http://localhost:3001/selectEmpreiteiro?id_empreiteiro=${id}`)
      .then(data => {
        return data.json();
      })
      .then(post => {
        console.log(post.title);
      });

    let url = `http://localhost:3001/selectAllEmpreiteiro`

    let servicos = '';
    let nomeEmpresa = '';
    let printarCnpj = '';
    let experiencia = ''

    fetch(url)
      .then((response) => {
        return response.json();
      })
      .then((data) => {
        let usuarios = data;

        usuarios.map((user) => {
          if (user.id_empreiteiro == id) {
            console.log(user)

            document.getElementById("titulo").innerHTML = user.nome_empresa
            document.getElementById("email").value = user.email_empresa

            document.getElementById("localidade").value = user.localidade
            document.getElementById("printarCnpj").value = user.cnpj
            document.getElementById("servi0").value = user.especialidade
            document.getElementById("representante").value = user.representante
            document.getElementById("emailR").value = user.email_representante




          }
        })
      })
      .catch(function (error) {
        console.log(error);
      })

    async function updateUser(
      id,
      {
        nome_empresa,
        email_empresa,
        cnpj,
        localidade,
        especialidade,
        representante,
        email_representante,
      }
    ) {
      try {
        await axios
          .put("http://localhost:3001/atualizaEmpreiteiro", {
            id_empreiteiro: id,
            nome_empresa,
            email_empresa,
            cnpj,
            localidade,
            especialidade,
            representante,
            email_representante,
          })
          .then(async (res) => {
            console.log(res);
          })
          .catch((err) => {
            console.error(err);
          });
      } catch (error) {
        console.error(error);
      }
    }
    document.getElementById("enviar10").addEventListener('click', async () => {
      await updateUser(
        34, {
        nome_empresa:document.getElementById("titulo").innerHTML,
        email_empresa:document.getElementById("email").value,
        cnpj:document.getElementById("printarCnpj").value,
        localidade:document.getElementById("localidade").value,
        especialidade:document.getElementById("servi0").value,
        representante:document.getElementById("representante").value,
        email_representante:document.getElementById("emailR").value,

      }
      ).then(async()=>{
        window.location.reload()
      })
    })






  </script>
</body>

</html>