<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,user-scalable=no"
    />
    <title>Ponte</title>
    <link rel="stylesheet" type="text/css" href="public/css/cadastroVaga.css" />
  </head>

  <body>
    <!--container principal-->
    <div class="conteiner">
      <div class="cabecalho">
        <h2>Cadastrar Vaga</h2>
      </div>

      <!--inserção do nome da vaga-->
      <form action= "/insereVaga" type = "submit" method= "post" id="formulario" class="formulario">
       
        <!-- código da vaga -->
        <div class="controleFormulario">
          <label for="username">Código da vaga</label>
          <input type="password"id="password" name = "id_vagas" />
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error message</small>
        </div>
       
        <div class="controleFormulario">
          <label for="username">Cidade - Estado</label>
          <input type="text" id="estado"  placeholder="São Paulo - SP" name = "regiao"/>
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error message</small>
        </div>
        <div class="controleFormulario">
          <label for="username">Nome da vaga</label>
          <input type="text"id="username" name = "area_de_atuacao"/>
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error message</small>
        </div>
       

        <div class="controleFormulario">
          <label for="username">Telefone</label>
          <input
            type="number"
            id="telefone"
            name ="telefone"
          />
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error message</small>
        </div>
        <button type = "submit">Publicar</button>
      </form>
    </div>
  </body>
</html>
