
/*padrão geral do body*/
html,
body {
    background-color: #EDEAE4;
    margin: 0;
    position: fixed;
    width: 100vw;
    overflow-x: hidden;
    height: 100%;
    font-family: 'Rubik', sans-serif
}

.inici{
    display: flex;
}

.lado0{
    position: absolute;
    top: 10%;
    width: 50vw;
    height: 25vw;
    background-color: rgb(255, 255, 255);
    left: 1vw;
    border-radius: 30px;
}

.lado0 > .circle0{
    left: 19vw;
    top: 5vw;
}

#seja{
    bottom: 1vw;
    width: 20vw;
    position: absolute;
    left: 2.5vw;


}
#nome{
    top: 11.5vw;
    width: 20vw;
    position: absolute;
    left: 3.5vw;
    font-size: 25px;


}
.lado0 > .circle0{
    position: absolute;
    
}

.tfund{
    background-color: #EDEAE4;
    width: 800px;
    height: 25vw;
    position: absolute;
    left: 55%;
    top: 10%;
    
}

.colorA{
    width: 1934px;
    height: 548px;
    

background: #EDEAE4;
}

.white{
    background-color: #ffffff;
}



.test1{
    display: flex;
    background-color: #ff9d47;
    border-top:15px solid #ffffff;
    border-bottom:15px solid #ffffff;

}

.block2{
    display: flex;
    
}

.laranja{
    background-color: #EDEAE4;
    width: 100vw;
    height: 30vw;
    border-top: 10px solid white;
}


.circle0 img{
    position: absolute;
    border-radius: 100%;
    width:30vh;
    height: 30vh;
    background-color: white;
    left: 5%;
    margin-top: 10%;
    
}
.circle1 img{
    position: absolute;
    border-radius: 100%;
    width:30vh;
    height: 30vh;
    background-color: white;
    left: 42%;
    margin-top: 10%;
    
}
.circle2 img{
    position: absolute;
    border-radius: 100%;
    width:30vh;
    height: 30vh;
    background-color: white;
    left: 80%;
    margin-top: 10%;
    
}








/*Clientes cadastrados*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
.snip1336 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 33px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #141414;
    
  
}

.snip1336{
    border-radius: 7%;
}

/*Serve para o tamnhanho do texto e tambem para o tempo de fade */
.snip1336 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

/*opacidade e alinhamente de umagem*/
.snip1336 img {
    max-width: 100%;
    vertical-align: top;
    opacity: 0.85;
  }

  /*position relative joga as png pra cima*/
  .snip1336 figcaption {
    width: 150%;
    background-color: #ffffff;
    padding: 25px;
    position: relative;
}

/* o "a" fica sem cor e possivel a alteração do "rosto"*/
  .snip1336 figcaption a {
    padding: 5px;
    border: 1px solid #de6b07;
    color: #de6b07;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
    opacity: 0.65;
    width: 30%;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 15%;
}
.snip1336 figcaption a:hover {
  opacity: 1;
}
/*profileeee*/
.snip1336 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.snip1336 h2 {
  margin: 0 0 5px;
  font-weight: 300;
  color: rgb(0, 0, 0);
}

.snip1336 p{
    color: black;
}

.snip1336 p {
  margin-left: -10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
  word-wrap:break-word;
  word-break:normal ;
  
  width: 290px;
}


/*nav bar*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
}
:root{
    --bg-color: #222327;
	--text-color: rgb(0, 0, 0);
	--main-color: #de6b07;
}
body{
    min-height: 100vh;
	background: var(--bg-color);
	color: var(--text-color);
}
header{
    width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 28px 12%;
	transition: all .50s ease;
    background-color: white;
    height: 7%;
}
.logo{
    display: flex;
	align-items: center;
}
.logo i{
    color: var(--main-color);
	font-size: 28px;
	margin-right: 3px;
}
.logo span{
    color: var(--text-color);
	font-size: 1.7rem;
	font-weight: 600;
}
.navbar{
    margin-top: 1%;
	display: flex;
}
.navbar a{
	color: var(--text-color);
	font-size: 1.1rem;
	font-weight: 500;
	padding: 5px 0;
	margin: 0px 30px;
	transition: all .50s ease;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar a.active{
    color: var(--main-color);
}
.main{
    display: flex;
	align-items: center;
}
.main a{
    
    margin-right: 25px;
	margin-left: 10px;
	color: var(--text-color);
	font-size: 1.1rem;
	font-weight: 500;
	transition: all .50s ease;
}
.user{
    display: flex;
	align-items: center;
}
.user i{
    color: var(--main-color);
	font-size: 28px;
	margin-right: 7px;
}
.main a:hover{
	color: var(--main-color);
}
#menu-icon{
    font-size: 35px;
	color: var(--text-color);
	cursor: pointer;
	z-index: 10001;
	display: none;
    
}