@charset "utf-8";

/*definindo o padrão geral da página*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*definindo a cor do fundo da página*/
body {
    background: linear-gradient(#26815c, transparent) no-repeat;
}

/*dimensões internas do conteiner principal e alinhamento do texto no centro*/
.conteiner {
    padding: 25px 9%;
    text-align: center;
}

/*texto e preenchimento acima da caixa de busca*/
.conteiner .heading {
    font-size: 30px;
    padding-bottom: 25px;
}

/*alinhamento do texto, tamanho da borda e da letra, preenchimento e comprimento da caixa de busca*/
.conteiner #search-box {
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
    padding: 12px 15px;
    border: 3px solid #000;
    width: 600px;
}

/*posicionamento, espaçamento e preenchimento interno da imagem em cada card*/
.conteiner .conteiner-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
}

/*definindo animação de entrada*/
@keyframes fadeIn {
    0% {
        transform: scale(0.7) translateY(-10px);
        opacity: 0;
    }
}

/*comprimento do campo da imagem, tamanho da sua borda, tipo de cursor, sombra por trás do card, cor, preenchimento e animação definida anterioriamente*/
.conteiner .conteiner-image .image {
    width: 350px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    background-color: #fff;
    padding: 15px;
    animation: fadeIn 0.2s linear
}

/*definindo o padrão de como as imagens no card irão se comportar: comprimento, largura, posição e borda*/
.conteiner .conteiner-image .image img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}


/*textos presentes no card de cada empreeiteiro cadastrado, com tamanho de fonte e cor definida*/
.conteiner .conteiner-image .image h3 {
    font-size: 20px;
    color: #000;
}


/*responsividade para tablets*/
@media(max-width:770px) {
    .conteiner .conteiner-image {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 25px 20px;
    }

    .conteiner .conteiner-image .image {
        width: 100%;
    }

    .conteiner #search-box {
        width: 90%;
    }
}

/*responsividade para mobile*/
@media(max-width:450px) {
    .conteiner .conteiner-image {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 25px 20px;
    }

    .conteiner .conteiner-image .image {
        width: 100%;
    }
}
