@charset "utf-8";

/*definição do tamanho geral da tela */
* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*configurando letra, dimensão e posicionamento do  body*/
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: linear-gradient(#505050, #26815c, #99b78b) no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

/*estilização do container superior*/
.conteiner {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

/*formando o cabeçalho da página*/
.cabecalho {
    border-bottom: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    padding: 20px 40px;
}

/*estilizando o título h2 do cabeçalho*/
.cabecalho h2 {
    margin: 0;
}

/*definindo o preenchimento interno dos formulários*/
.formulario {
    padding: 30px 40px;
}

/*posição do pai da caixa que se refere ao formulário*/
.controleFormulario {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

/*posição do label acessível*/
.controleFormulario label {
    display: inline-block;
    margin-bottom: 5px;
}

/*tamanho e posição do input (filho do form)*/
.controleFormulario input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

/*pseudoclasse do input*/
.controleFormulario input:focus {
    outline: 0;
    border-color: #777;
}

/*cores, posições, tamannho e visiblidade dos inputs e ícones*/

.controleFormulario.success input {
    border-color: #2ecc71;
}

.controleFormulario.error input {
    border-color: #e74c3c;
}

.controleFormulario i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.controleFormulario.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.controleFormulario.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.controleFormulario small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.controleFormulario.error small {
    visibility: visible;
}

/*estilizando o botão de envio do forms*/

.formulario button {
    background-color: #26815c;
    border: 2px solid #26815c;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
}
