@charset "utf-8";

*{
    margin:0;
    padding: 0;
}

/*Estilização do corpo*/
#corpo1 {
    background-color: #99b78b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/*Estilizção do botão que lista os itens*/

#btn {
    background-color: #f79227;
    margin-left: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 2px 2px 2px black;
}

#tabela{
    width: 60%;
    margin-left: 2px;
    margin-top: 1%;

}

tr{
    width: 100%;
}

/*Estilização da tabela*/
#table {
    border-bottom: 5px solid;
    background-color: white;
    width: 70%;

}



#categoria {
    background-color: #d9d9d9 ;
}

#categoria1 {
    background-color: #edeae4;
}

#delete {
    background-color: red;
    margin-left: 5%;
    box-shadow: 2px 2px 2px black;
    padding: 5px;
    margin-bottom: 5px;
}

.update12 {
    
    background-color: lightgreen;
    margin-bottom: 5px;
    box-shadow: 2px 2px 2px black;
    padding: 5px;
    margin-right: 2px;
    margin-left: 2px;
}

