<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="/public/css/login.css">
        <title>Entrada_login</title>
    </head>
        <!--Término das definições de referências da tela da administração logar-->
    <body class="body1">
        <header id="header">
            <img class="logo" src="public/img/logo-mrv.png" href="public/html/index.html" width="25%" >
        </header>
        <!--Término do cabeçalho da tela de entrada para ir na parte de logar-->


        <div id="container">
            <!--Abertura de uma div para inserção de link de redirecionamentos formatados-->
            <div id="container-flex">
                <img class="img1" src="public/img/userLogin.png" width="15%">
            </div>
            <!--Imagem de usuário-->

            <div class="boxlink">
                <a class="link" href="/renderizaIndexVisitante"> Visitante</a> 
            </div>
            <!--Imagem que representa o visitante e o link correspondente para o redirecionamento para a tela inicial (index)-->


            <div id="container-flex">
                <img class="img1" src="public/img/empre.png" width="15%">
            </div>
            <!--Imagem de empreiteira-->

            <div class="boxlink">
                <a class="link" href="/renderizaIndexEmpreiteiro">Empreiteira</a> 
            </div>
            <!--Imagem que representa a empreiteira e o link correspondente para o redirecionamento para a tela de login da empreiteira-->


            <div id="container-flex">
                <img class="img2" src="public/img/adm.png" width="15%">
            </div>
            <!--Imagem de administração-->

            <div class="boxlink">
                <a class="link1" href="/renderizaIndexAdminMrv">Administração</a>
            </div>

            <!--Imagem que representa a administração e o link correspondente para o redirecionamento para a tela de login da administração -->
        </div>
    </body>
</html>