html, body {
    background-color: #EDEAE4;
    margin: 0;
    min-height: 100vh;
    height: 100%;
    font-family: 'Rubik', sans-serif
}

.background{
    background-color: #006b3eb1;
    margin-top: 462px ;
    height:450px;
    width: 100vw;
    
}


.cabeca{
    display: flex;
    border-bottom: 1px  grey;
}
.nav{
    display: flex;
    justify-content: space-around;
    min-width: 80vw;
    
}

.nav > p {
    font-size: 15px;
}
.pai{
    display: flex;
}

.insi{
    font-size: 30px;
    margin-left: 260px;
    margin-top: 6%; 
    
    
}

.rank{
    font-size: 30px;
    margin-left: 515px;
    margin-top: 6%; 
    
    
}
.atua{
    font-size: 30px;
    margin-left: 445px;
    margin-top: 6%; 


}


.block1{
    background-color: grey;
    width: 200px;
    height: 200px;
    margin-top: -45%;
    margin-left: 45%;
    border-radius: 100%;

    
}
.block3{
    background-color: white;
    width: 600px;
    height: 80px;
    margin-left: 1%;

    
    

    
}
.block4{
    background-color: white;
    width: 600px;
    height: 80px;
    margin-left: 1%;
    
    
    

    
}
.block5{
    background-color: white;
    width: 600px;
    height: 80px;
    float: center;
    margin-left: 1%;
    
    

    
}

.block2>.sobre{
    width: 900px;
    height: 120px;
    margin-top: 0%;
    margin-left:500px;
    overflow-y: scroll;

    
}



.quebra{
    display: block;
   

}

.text> .t1{

    font-size: 25px;
    color: black;
    max-width: 90vw;
    margin-top: 1%;
    margin-left: 920px;
    display: flex;
    justify-content: space;
    width: 350px;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
  
    

}

#n1{
    border-bottom: 1px solid black ;
    color: #505050;
    margin-top: 50px;
    
    
}

.adm{
    background-color: #D9D9D9;
    width: 170px;
    height: 22px;
    text-align: center;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
    margin-top: -37px;
    margin-left: 107%;
  

}

::placeholder{
    text-align: center;
    font-size: 20px;


}
