<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="public/css/login.css">
        <title>Entrada_login</title>
    </head>
    <!--Término das definições de referências da tela da administração logar-->

    <body class="body1">

        <header id="header">
            <img class="logo" src="public/img/logo-mrv.png" width="25%" >
        </header>

        <!--Término do cabeçalho da tela da administração logar-->

        <div id="container">

            <img class="img1" src="public/img/adm.png" width="15%">
            
            <!--Imagem com símbolo de administração para fins estéticos e informativos-->
            <form action = "/loginAdminMrv" method="post">

                <div>
                    <input class="email" type="text" name="email" id="email" placeholder="Digite seu E-mail">
                </div>

                <!--Caixa de texto para inserção das informações de administrador (E-mail)-->
                <div>
                    <input class="senha" type="password" name="senha" id="senha" placeholder="Digite sua senha">
                </div>

                <!--Caixa de texto para inserção da senha do administrador-->

                <div>
                    <input class="submit" type="submit" value="Entrar">
                </div>

                <!--Botão para enviar e em seguida validar os dados digitados-->

            </form>

    </body>
</html>